h1 New Message 

form(method="POST" action="/new")
label Author: 
input(type="text" name="messageUser") Your Name

label Message: 
input(type="text" name="messageText") Your Message

button(type="submit") Submit
