h1 New Message 

form(method="POST" action="/new")
label(for="messageUser") Name:
input(type="text" id="messageUser "name="messageUser") Name

label(for="messageText") Message: 
input(type="text" id="messageText "name="messageText") Message

button(type="submit") Submit
